<div class="left"><%=render :partial => "usergroups/left"%></div>
<div class="center">
  <div>
  <%@usergroups.each do |usergroup|%>
    <%=link_to usergroup.name,usergroup.id.to_s%>人数:<%=usergroup.users.size%>
  <%end%>
  </div>
</div>
<div class="right"><%=render :partial => "usergroups/right"%></div>
