<div class="left"><%=render :partial => "settings/left"%></div>
<div class="center">
  <h3>ユーザーグループ設定</h3>
    <input type="button" class="btn btn-default" onClick="location.href='new'" value="新規作成">
  <div><table class="table">
    <tr><td>グループ名</td><td>人数</td>
    <%@usergroups.each do |usergroup|%>
      <tr>
        <td>
          <%=link_to usergroup.name,usergroup.id.to_s%>
        </td>
        <td>
          <%=usergroup.users.size%>
        <td>
      </tr>
    <%end%>
  </table></div>
</div>
